@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Style+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(to right bottom, #301934, #36454f);
  /* background: #36454f; */

  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: calc(100vh - 2 * 4vw); */
}
.container {
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(#615551, 0.2);
}
.btn {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;

  background: #023020;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  transition: all 0.2s;
}
.btn:hover {
  background: #36454f;
}
